@import url("https://uilight.netlify.app/main.css");
 :root{
     --bg-color: white;
 }
body{
    background-color: antiquewhite;

    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.left{
 color: white;
}
.parent {
    border: 5px solid black;
    width: 500px;
    height: 200px;
    padding: 0;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  height: 38px;
    -webkit-font-smoothing: antialiased;
   color: white;
}
  .material-icons-outlined{
    color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  height: 38px;
    -webkit-font-smoothing: antialiased;
  }
  .search{
    width: 50px;
    position: absolute;
   padding: 5px;
   left: 60% ;    
   /* 550px; */
   margin-right: 15px;


  }
  #search-input{
    height: 38px;
    width: 350px;
    padding-left: 40px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    text-emphasis-color: white;
    
  }

  

  .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 100px;
    background-color: var(--bg-color);
    box-shadow: 1px 2px rgb(210, 208, 208);
    position: fixed;
    margin-top: 0;
  background-color:  #966F33;
    width: 100%;  
    z-index: 1;
  }
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 400px;
    align-items: center;
    
}
li{
    margin: 0 1px 0 1px;
}
.left{
    display: flex;
   
}
.center{
    width: 500px;
    padding: 20px;
}
.right{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 200px;
    align-items: center;
    margin-top: 4px;
}
a{
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    
}
.person{
    font-size: 100px;
}

aside{
    border: 10px solid white;
    border-radius: 25px;
    height: 50rem;
    width: 20rem;
    margin-left: 2rem;

    display: flex;
    justify-content: center;
    
}

.side-bar{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    height: fit-content;
}
.cuisine-card{
    color: white;
    background-color: #966F33;
    display: flex;
    margin: 5px;
    
    height: 10rem;
    width: 90%;
    align-items: start;
    justify-content: space-between;
   padding: 1rem;
   border-radius: 4px;
   
}
.cuisineContainer{
    color: white;
    background-color: #966F33;
    display: flex;
    margin: 5px;
    height: 4rem;
    width: 90%;
    align-items: start;
    justify-content: space-between;
   padding: 1rem;
   border-radius: 4px;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
     align-items: start;  

}
.filter-label{
    display: flex;
    justify-content: center;
    height: 2rem;

   
}
.checkbox{
    height: 1.2rem;
    width: 1.2rem;
    background-color: black;
}
.products-page{
    display: flex;
    justify-content: center;
    margin-left: 2rem; 
}

.product-container{
    border: 10px solid white;
    border-radius: 25px;
     margin-top: 10rem;
     margin-left: 2px;
    width: 80%;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly; 
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
   
}
.card{
    height: 28.5rem;
    background-color: #966F33;
   color: #fff;
}
.card-container{
    object-fit: contain;
    background-color: rgba(165, 42, 42, 0.76);
    width: 85%;
   box-shadow: 5px 15px 15px grey;
}
.card-image-container{
    height: 15rem;
    padding: 10px;
}
.card-image{
  width: 100%;
  height: 80%;
  
}

.time-ingwhiteient-count{
 display: flex;
 justify-content: space-between;
}

.button{
    background-color: rgba(0, 128, 0, 0.926);
}

.recipe-container{
    color: #000;
}


